.lab-home .VPHero .name,
.lab-home .VPHero .text {
  letter-spacing: 0;
}

.lab-home .VPHero .name {
  max-width: 720px;
  line-height: 1.16;
  font-size: 40px;
}

.lab-home .VPHero .text {
  max-width: 760px;
  line-height: 1.22;
  font-size: 34px;
}

.lab-home .VPHero .tagline {
  max-width: 840px;
}

.vp-doc img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .lab-home .VPHero .name {
    font-size: 44px;
  }

  .lab-home .VPHero .text {
    font-size: 38px;
  }
}

@media (min-width: 960px) {
  .lab-home .VPHero .name {
    font-size: 48px;
  }

  .lab-home .VPHero .text {
    font-size: 42px;
  }

  .lab-home .VPHero .tagline {
    white-space: nowrap;
  }
}
